body {
  /* background-color: #282c34; */
  color: LightBlue;
  padding: 40px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-image: url("https://wallpaperchat.com/walls/full/a/9/d/400134.jpg");
}


.login {
  text-align: right;
  padding: 10px;
  /* background:LightBlue; */
  border-bottom: 1px solid rgb(73, 68, 68);
}

.writeComment {
  text-align: left;

}

.frontPage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.login-form {

}